# Dependencies
node_modules/

# Build / Dist
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage / Reports
coverage/
*.lcov

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Env files
.env*

# Cache
.cache/

# Astro
.astro/
